.carrier{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.carrier>div{
    display: flex;
    margin: 7px;
    max-width: 300px;
    min-width: 300px;
}
.carrier img{
    display: flex;
    max-width: 300px !important;
}