.carrier{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.carrier>div{
    display: flex;
    margin: 14px;
    max-width: 360px;
    min-width: 360px;
}
.carrier img{
    display: flex;
    max-width: 360px !important;
}

.card__header img{
    min-width: 40px;
}
.card__header img+div{
    padding-right: 21px !important;
}
.card__short-content{
    text-align: left;
    min-height: 63px;
}
.card__short-title{
    text-align: left;
}